<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::section})}">
<head>
    <title>Novo Projeto</title>
</head>
<body>
<section>
    <h2 class="mt-5">Novo Projeto</h2>
    <form action="/projetos" method="post">
        <div class="mb-3">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" minlength="5" maxlength="40" class="form-control" id="nome" name="nome" placeholder="5-40 caracteres" required>
            <small id="contadorNome" class="form-text text-muted">40 caracteres restantes</small>
        </div>
        <div class="mb-3">
            <label for="descricao" class="form-label">Descrição</label>
            <textarea class="form-control" id="descricao" name="descricao" placeholder="5-200 caracteres" rows="3" minlength="5" maxlength="200" required></textarea>
            <small id="contadorDescricao" class="form-text text-muted">200 caracteres restantes</small>
        </div>
        <div class="mb-3">
            <label for="coordenador" class="form-label">Coordenador</label>
            <select class="form-select" id="coordenador" name="coordenador" required>
                <option value="">Selecione um coordenador</option>
                <th:block th:each="professor : ${professores}">
                    <option th:value="${professor.id}" th:text="${professor.nome}"></option>
                </th:block>
            </select>
        </div>
        <div class="mb-3">
            <label for="empresa" class="form-label">Empresa</label>
            <select class="form-select" id="empresa" name="empresa" required>
                <option value="">Selecione a empresa vinculada ao projeto</option>
                <th:block th:each="empresa : ${empresas}">
                    <option th:value="${empresa.id}" th:text="${empresa.nome}"></option>
                </th:block>
            </select>
        </div>
        <div class="mb-3">
            <label for="dataInicio" class="form-label">Data de Início</label>
            <input type="date" class="form-control" id="dataInicio" name="dataInicio" required>
        </div>
        <div class="mb-3">
            <label for="dataEncerramento" class="form-label">Data de Encerramento</label>
            <input type="date" class="form-control" id="dataEncerramento" name="dataEncerramento" required>
        </div>

        <button type="submit" class="btn btn-primary">Salvar</button>
        <a href="/projetos" class="btn btn-secondary">Cancelar</a>
    </form>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            function atualizarContador(campo, contadorId) {
                const maxLength = campo.getAttribute('maxlength');
                const currentLength = campo.value.length;
                const contador = document.getElementById(contadorId);
                contador.textContent = `${maxLength - currentLength} caracteres restantes`;
            }

            const inputNome = document.getElementById('nome');
            inputNome.addEventListener('input', function() {
                atualizarContador(inputNome, 'contadorNome');
            });

            const textareaDescricao = document.getElementById('descricao');
            textareaDescricao.addEventListener('input', function() {
                atualizarContador(textareaDescricao, 'contadorDescricao');
            });
        });
    </script>
</section>
</body>
</html>